.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;

  }
  .right{
    top: -5px;
    left: 105%;
  }
  .top{
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px
  }
  .left{
    top: -5px;
    right: 105%;
  }
  .bottom{
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px
  }